body{
    background: rgb(170, 205, 99);
}
.container{
    height: 400px; border: 2px solid red;background-color: rgb(145, 224, 153);
    display: grid;grid-template-columns: repeat(12,1fr) ;
}
.row1,.row2,.row3{
    border: 1px solid rgb(242, 131, 131);height: 200px;
    
}
